.container {
  position: absolute;
  top: 30%;
  left: 10px;
  text-align: center;
}

.container h2 {
  font-size: 5rem;
}

.container h3 {
  font-size: 3rem;
}

.container a {
  border: 2px solid white;
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 5px 15px;
}
